.jumbotron{
    background-color: #0aadca;
    color: white;
    margin-top: 50px;
}
.card-dia{
    flex: 1 150px;
    padding: 15px 0px 5px 0px;
}
.btnDetalles{
    width: 100%;
    border-radius: 0px;
}
footer{
    background-color: #0aadca;
    color: white;
}
.link{
    color: white;
}
#icons{
    margin-right: 10px;
}
.container{
    margin-bottom: 10px;
}
.imagenMejora{
    width: 100%;
    height: 300px;
}